.car_div {
  border: 2px solid grey;
  background-color: rgb(180, 180, 180);
  margin: 10px;
  border-radius: 10px;
  width: 350px;
}
.car_div:hover {
  border: 3px solid red;
  width: 450px;
}

.title_name {
  font-size: 35px;
  background-color: rgb(180, 180, 180);
  margin: 10px;
}

.img_style {
  width: 90%;
  border-radius: 10px;
}

.img_style:hover {
  border: 2px solid rgb(241, 127, 127);
}

.subtitle_brand {
  font-size: 20px;
  text-align: center;
}
.description {
  font-size: 12px;
}
