.footer {
  background-color: #eee9da;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.icons a {
  width: 50px;
}
.titleFooter {
  color: black;
  letter-spacing: 2px;
}
.subtitle {
  color: #6096b4;
  letter-spacing: 2px;
}

@media (max-width: 530px) {
  .footer {
    height: 150px;
  }
  .titleFooter {
    font-size: 40px;
  }
  .subtitle {
    font-size: 20px;
  }
  .icons a {
    width: 30px;
  }
}

@media (max-width: 335px) {
  .footer {
    height: 130px;
  }
  .titleFooter {
    font-size: 35px;
  }
  .subtitle {
    font-size: 15px;
  }
  .icons a {
    width: 25px;
  }
}
