.main {
  min-height: 69.4vh;
  text-align: center;
  padding: 2em;
  background-color: #777;
}

.main h2 {
  margin-bottom: 0.8em;
}
.todo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
  margin-top: 1em;
}
